
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <center><h1>All Employes </h1></center>      
    
  </div>
</div>



<div class="container">
<div class="row">
 <div class="col-md-8"> 
 <h3>Total Employes: <%= @employes.count %></h3>    
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>City</th>
      </tr>
    </thead>
    <tbody>
      <% @employes.each do |vv| %> 


      <tr>
        <td><%= vv.id %></td>
        <% if vv.image.present? %>
<td><%= link_to image_tag(vv.image.url, class: "rounded-circle small_img"), employe_path(vv.id)%></td>
<% else %>
<td> -- </td>
<% end %>
       
        <td><%= vv.name  %></td>
        <td><%= vv.city.name  %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

</div>
<%= will_paginate @employes %>
</div>